<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>646978299676-vtfsmspc0l6pst3t7bc87uhi8dd1oi64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646978299676-vtfsmspc0l6pst3t7bc87uhi8dd1oi64</string>
	<key>API_KEY</key>
	<string>AIzaSyCD3NfEcQRZiocPaw5TzFRugkyI6auzna4</string>
	<key>GCM_SENDER_ID</key>
	<string>646978299676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cahyantosetyabudi.PariwasataYogyakarta</string>
	<key>PROJECT_ID</key>
	<string>pariwisatayogyakarta-c6d2d</string>
	<key>STORAGE_BUCKET</key>
	<string>pariwisatayogyakarta-c6d2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646978299676:ios:312e85be303c17f5</string>
	<key>DATABASE_URL</key>
	<string>https://pariwisatayogyakarta-c6d2d.firebaseio.com</string>
</dict>
</plist>